/*------------------------------------*\
  SECTION BOUTON
\*------------------------------------*/
.subcribe {
   padding:0 0 100px 0;
   text-align: center;

   &__btn {
      display: block;
      width: 75%;
      margin: 20px auto;
      height: 50px;
      font-size: 22px;
      line-height: 50px;
      font-family: $font-condensed;
      font-weight: 600;

      @media screen and (min-width: $tablet){
         display: inline-block;
         width: 25%;
         margin:0 30px;
      }

      &--program {
         border:solid 4px $color-orange;
         border-radius:5px;
         color:$color-orange;
      }

      &--register {
         color:#FFFFFF;
         border:solid 3px $color-orange;
         border-radius:5px;
         background-color:$color-orange;
      }
   }
}